name: "CI"

on:
  push:
    branches: [main]
    paths-ignore:
      - 'README.md'
      - 'COPYING'
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [main]
    paths-ignore:
      - 'README.md'
      - 'COPYING'

  workflow_dispatch:

jobs:
  linux-build:
    name: Ubuntu latest
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Source code
      if: github.event_name == 'push'
      uses: actions/checkout@v6

    - name: Checkout Source code
      if: github.event_name == 'pull_request'
      uses: actions/checkout@v6
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Checkout Source code
      if: github.event_name == 'workflow_dispatch'
      uses: actions/checkout@v6
      with:
        ref: ${{ github.sha }}

    - name: Install Dependencies
      run: |
        sudo apt-get -y -qq update
        sudo apt-get -y --no-install-recommends install cmake build-essential qt6-base-dev qt6-tools-dev qt6-multimedia-dev

    - name: Create Build Environment
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure CMake
      working-directory: ${{runner.workspace}}/build
      run: |
        cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=release

    - name: Build
      working-directory: ${{runner.workspace}}/build
      run: cmake --build . --config release
